body{
    background-color: rgb(31, 90, 111);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: larger;

}
.description{
    text-align: center;
    background-color: rgb(189, 64, 64);
    margin:70px;
    padding:30px;
    width: 400px;
    height:40px;
    border-radius:30px;
}
.checker{
    position:relative;
     bottom:200px;
     left:110px;
     border-radius:10px;
     background-color:rgb(123, 155, 155);
     color: azure;
}
input{
    width: 300px;
    height:40px;
}
.one{
margin-top:10px;
position:relative;
bottom:-50px;
width:400px;
height:1px;
}
.two{
    width:400px;
    height:150px;
}
.three{
    position: relative;
    bottom:150px;
    width:400px;
    height:90px;

}
button{
    width:70px;
    height:40px;
}
#result{
    position: relative;
    bottom:200px;
    left:170px;
}